---
import Badge from "@/components/Badge.astro";

const { badgeText, badgeUrl, imgUrl, imgAlt, title, subtitle, description } =
  Astro.props;
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img class="rounded-full shadow-lg size-16" src={imgUrl} alt={imgAlt} />
    <a
      href={badgeUrl}
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>{badgeText}</Badge>
    </a>
  </div>
  <h1 class="text-4xl font-bold tracking-tight sm:text-5xl text-white">
    {title}
  </h1>
  <h2 class="mt-3 text-xl [&>strong]:text-blue-300 [&>strong]:font-semibold">
    <strong>{subtitle}</strong>
  </h2>
  <p
    class="mt-3 text-xl [&>strong]:text-blue-300 [&>strong]:font-semibold text-gray-300"
  >
    {description}
  </p>

  <nav class="flex flex-wrap gap-4 mt-8">
    <slot />
  </nav>
</div>
